#{extends 'main.html' /} 

#{set title:carte.name /}

#{set 'moreScripts'}
    <script src="@{'/public/javascripts/jquery.metadata.js'}"></script>
    <script src="@{'/public/javascripts/jquery.tablesorter.min.js'}"></script>
    <script src="@{'/public/javascripts/mustache.js'}"></script>
    
    <script type="text/javascript">
        $(document).ready(function(){ 
        	$("table").tablesorter({debug: true})
        }); 
    </script>

    #{if mine}
        <script id="form" type="text/html">
            <form id="form" action="@{Carte.updatedata(carte.uuid)}" method="post" accept-charset="utf-8" class="form-horizontal" >
                {{#UUID}}
                    <input type="hidden" name="id" value="{{UUID}}"/>
                {{/UUID}}
                #{list items:headers, as:'header'}
                    <div class="control-group">
                        <label class="control-label" for="${header.raw()}">${header.raw()}</label>
                        <div class="controls">
                            <input class="input" type="text" id="${header.raw()}" name="data[]" value="{{${header.raw()}}}"/>
                        </div>
                    </div>
                #{/list}
            </form>   
        </script>
        <script id="dataline" type="text/html">
            <tr data-uuid="{{uuid}}">
            </tr>
        </script>
        <script id="alertError" type="text/html">
            <div class="alert alert-error">
                <button class="close" data-dismiss="alert">×</button>
                <strong>&{'error'} !</strong>
                {{error}}
            </div>
        </script>
        <script id="alertSuccess" type="text/html">
            <div class="alert alert-success">
                <button class="close" data-dismiss="alert">×</button>
                <strong>&{'success'} !</strong>
                {{success}}
            </div>
        </script>
        <script type="text/javascript">
            // Bind delegation
            var bindBehaviors = function(){
                $("tr").bind("dblclick", function(){
                    var data ={};
                    var template = $("#datatemplate").html();
                    var uuid = $(this).attr("data-uuid");
                    $.ajax({ cache: false,
                        type: "GET",
                        url: "/carte/${carte.uuid}/data/" + uuid,
                        dataType: "json",
                        error: function () {
                            data = {error:"The ajax call to fulfill the form have returned a 500."};
                            var template = $("#alertError").html();
                            var output = Mustache.to_html(template,data);
                            $("h2").after(output);
                            $("#error").alert();
                            bindBehaviors();
                        },
                        success: function (data) {
                            var template = $("#form").html();
                            var output = Mustache.to_html(template,data);
                            $("#modal-body").html(output);
                            $("#modal").modal("show");
                            bindBehaviors();
                        }
                    });
                    bindBehaviors();
                    return false;
                 });
                
                // bind click on save button
                $("#save").bind("click", function(){
            	   $("#form").submit();
                   return false;
                });
                
            }
            
            bindBehaviors();
        </script>
    #{/if}    
#{/set}

<div class="row">
    <div class="span12">
        <h2>
            &{'page.carte.data'}
            <a href="@{Carte.view(carte.uuid)}" title="&{'page.carte.see'}"> 
                <i class="icon-eye-open"></i> 
            </a> 
            <a href="@{Carte.data(carte.uuid)}" class="edit" title="&{'page.carte.data'}"> 
                <i class="icon-hdd"></i> 
            </a>
            #{if mine}
                <a href="@{Carte.edit(carte.uuid)}" title="&{'page.carte.edit'}" > 
                    <i class="icon-cog"></i> 
                </a> 
                <a href="@{Carte.delete(carte.uuid)}" class="delete" title="&{'page.carte.delete'}"> 
                    <i class="icon-remove"></i> 
                </a>
            #{/if}
         </h2>
         
         #{ifErrors}
            <div class="alert alert-error">
                <strong>&{'error'}</strong>&{'error.checkform'}
            </div>
         #{/ifErrors}
         #{if flash.success}
            <div class="alert alert-success">
                ${flash.success}
            </div>
         #{/if}
         #{if flash.error}
            <div class="alert alert-error">
                ${flash.error}
            </div>
         #{/if}
         
         <p>
            ${carte.description}
         </p>
    </div>
</div>

#{if datas.size() > 0}
    <div class="row">
        <div class="span12" style="overflow-x:scroll">
            <table id="data" class="table table-striped .table-condensed">
                <thead>
                    <tr>
                        #{list items:headers, as:'header'}
                            <th>${header.raw()}</th>
                        #{/list}
                    </tr>  
                </thead>
                <tbody>  
                    #{list items:datas, as:'data'}
                        <tr data-uuid="${data.uuid}">
                            #{list items:data.data, as:'item'}
                                <td>${item.raw()}</td>
                            #{/list}
                        </tr>
                    #{/list}
                </tbody>
            </table>
        </div>
    </div>
#{/if}

#{if mine}
    <div class="row">
        <div class="span12">
            #{form @Carte.importCSV(), class:"form-horizontal", enctype:'multipart/form-data'}
                <fieldset>
                    <legend>&{'page.carte.import'}</legend>
                    
                    <div class="alert alert-info">
                        &{'page.carte.import.text'}
                    </div>
                
                    <input type="hidden" name="uuid" value="${carte?.uuid}"/>
                    <input type="hidden" name="carte.user_uuid" value="${carte?.user_uuid}"/>
                    
                    <div class="control-group #{ifError 'csv'}error#{/ifError}">
                        <label class="control-label" for="csv">&{'page.carte.item.csv'}</label>
                        <div class="controls">
                            <input type="file" id="csv" name="csv" />
                            #{if errors.forKey('csv')}
                                <span class="help-block">#{error 'csv' /}</span>
                            #{/if}
                        </div>
                    </div>
                    
                    <div class="control-group #{ifError 'reset'}error#{/ifError}">
                        <label class="control-label" for="reset">&{'page.carte.item.reset'}</label>
                        <div class="controls">
                            <label class="checkbox">
                                <input name="reset" id="reset" type="checkbox" value="true">
                                &{'page.carte.item.reset.help'}
                            </label>
                        </div>
                    </div>
                    
                    <div class="control-group #{ifError 'geocodingString'}error#{/ifError}">
                        <label class="control-label" for="geocodingString">&{'page.carte.item.geocoding'}</label>
                        <div class="controls">
                            <input type="text" id="geocodingString" name="geocodingString" value="" />
                            <p class="help-block">&{'page.carte.item.geocoding.help'}</p>
                            #{if errors.forKey('geocodingString')}
                                <span class="help-inline">#{error 'geocodingString' /}</span>
                            #{/if}
                        </div>
                    </div>
                    
                </fieldset>
                
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">&{'page.carte.import'}</button>
                </div>
            #{/form}
       </div>
    </div>
    
    <div class="modal hide fade" id="modal">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>&{'page.carte.data'}</h3>
        </div>
        <div class="modal-body" id="modal-body">
        
        </div>
        <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">&{'close'}</a>
            <a href="#" id="save" class="btn btn-primary">&{'save'}</a>
        </div>
    </div>
    
#{/if}