#{if iframe}
    #{extends 'vide.html' /} 
#{/if}
#{else}
    #{extends 'main.html' /}
#{/else}

#{set title:carte.name /}

#{set 'moreStyles' }
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.3.1/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.3.1/leaflet.ie.css" />
    <![endif]-->
#{/set}
#{set 'moreScripts'}
    <script src="https://raw.github.com/CloudMade/Leaflet/master/dist/leaflet.js"></script>
    <script src="https://raw.github.com/cavis/leafpile/master/leafpile.min.js"></script>
    
    <script type="text/javascript">
            // initialize the map on the "map" div
            var map = new L.Map('map');

            // create a CloudMade tile layer with style #997 (or use other provider of your choice)
            var cloudmade = new L.TileLayer('http://{s}.tile.cloudmade.com/d78704597e294093b5b562ccfa5f9086/997/256/{z}/{x}/{y}.png', {
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
                maxZoom: 18
            });

            // add the layer to the map, set the view to a given place and zoom
            map.addLayer(cloudmade).setView(new L.LatLng(${carte.centerLat}, ${carte.centerLng}), ${carte.centerZoom});
            
            // setup the leafpile
            var leafpile = new L.Leafpile({maxZoomLevel:${carte.leafPileZoom}});
            map.addLayer(leafpile);

            #{list items:datas, as:'data'}
                #{if data.longitude && data.latitude}
                    var markerLocation${data.uuid} = new L.LatLng(${data.latitude},${data.longitude});
                    var marker${data.uuid} = new L.Marker(markerLocation${data.uuid});
                    leafpile.addMarker(marker${data.uuid});
                    marker${data.uuid}.bindPopup("${data.text.raw()}");
                    map.addLayer(marker${data.uuid});
                #{/if}
            #{/list}
            
            map.addLayer(cloudmade).setView(new L.LatLng(${carte.centerLat}, ${carte.centerLng}), ${carte.centerZoom});
    </script>
#{/set}

#{if !iframe}
    <div class="row">
        <div class="span12">
            <h2>
                &{'page.carte.carte'}
                <a href="@{Carte.view(carte.uuid)}" title="&{'page.carte.see'}"> 
                    <i class="icon-eye-open"></i> 
                </a> 
                <a href="@{Carte.data(carte.uuid)}" class="edit" title="&{'page.carte.data'}"> 
                    <i class="icon-hdd"></i> 
                </a>
                #{if mine}
                    <a href="@{Carte.edit(carte.uuid)}" title="&{'page.carte.edit'}" > 
                        <i class="icon-cog"></i> 
                    </a> 
                    <a href="@{Carte.delete(carte.uuid)}" class="delete" title="&{'page.carte.delete'}"> 
                        <i class="icon-remove"></i> 
                    </a>
                #{/if}
             </h2>
            <p>
                ${carte.description}
            </p>
        </div>
    </div>
#{/if}

<div class="row">
    <div class="span12">
        <div id="map" style="height:${height}px;" class="smallmap">
        </div>
    </div>
</div>

#{if !iframe}
    <div class="row">
        <div class="span12">
            <h2>&{'page.carte.partager'}</h2>
            <p>
                &{'page.carte.partager.text'}
            </p>
            <div class="well">
                &lt;iframe src="http://csvmap.logisima.com/carte/iframe/${carte.uuid}?height=300"&gt;&lt;/iframe&gt;
            </div>
        </div>
    </div> 
#{/if}